#red-token {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../images/red-token.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #5e5e5e;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 3, 3);
}

#yellow-token {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../images/yellow-token.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-width: 1px;
    -fx-border-color: #5e5e5e;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 3, 3);
}



.player-img-frame {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-radius: 15%;
    -fx-background-color: #ffffff;
}

.info-box {
    -fx-min-width: 190;
    -fx-max-width: 200;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-radius: 15%;
    -fx-background-color: #2E2E2E;
}

.player-name {
    -fx-font-size: 20px;
    -fx-font-family: "Inter Semi Bold";
    -fx-text-fill: #ffffff;
}

.conn-bars-frame {
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-min-height: 20;
    -fx-max-height: 20;
}

.conn-bar {
    -fx-min-width: 5;
    -fx-max-width: 5;
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-background-radius: 25%;
    -fx-background-color: #ffffff;
}

.player-token-holder {
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-radius: 50%;
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-color: #5e5e5e;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 3, 3);
}

.clock {
    -fx-min-width: 90;
    -fx-max-width: 100;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-background-radius: 5%;
    -fx-background-color: #ffffff;
}